################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.editorconfig


# Ignore Visual Studio temporary files
.vs/
*.vsidx
*.suo
*.cache

# Ignore compiled binaries
/bin/
/obj/
*.cs
/WildlifeLogAPI/obj/Debug/net7.0/WildlifeLogAPI.GeneratedMSBuildEditorConfig.editorconfig
/WildlifeLogAPI/obj/Debug/net7.0/WildlifeLogAPI.assets.cache
/WildlifeLog.UI/obj/Debug/net7.0/WildlifeLog.UI.csproj.AssemblyReference.cache
/WildlifeLog.UI/obj/Debug/net7.0/WildlifeLog.UI.assets.cache
/WildlifeLog.UI/obj/Debug/net7.0/WildlifeLog.UI.GeneratedMSBuildEditorConfig.editorconfig
/.vs/WildlifeLog/v17/.suo
/WildlifeLogAPI/obj/WildlifeLogAPI.csproj.nuget.dgspec.json
/WildlifeLog.UI/bin/Debug/net7.0/WildlifeLog.UI.pdb
/WildlifeLog.UI/bin/Debug/net7.0/WildlifeLog.UI.staticwebassets.runtime.json
/WildlifeLog.UI/bin/Debug/net7.0/WildlifeLogAPI.dll
/WildlifeLog.UI/bin/Debug/net7.0/WildlifeLogAPI.pdb
/WildlifeLog.UI/obj/Debug/net7.0/staticwebassets.build.json
/WildlifeLog.UI/obj/Debug/net7.0/staticwebassets.development.json
/WildlifeLog.UI/bin/Debug/net7.0/WildlifeLog.UI.dll
/WildlifeLogAPI/obj/Debug/net7.0/WildlifeLogAPI.csproj.FileListAbsolute.txt
/WildlifeLogAPI/bin/Debug/net7.0/WildlifeLogAPI.pdb
/WildlifeLogAPI/obj/Debug/net7.0/WildlifeLogAPI.dll
/WildlifeLogAPI/obj/Debug/net7.0/WildlifeLogAPI.pdb
/WildlifeLog.UI/obj/project.nuget.cache
/WildlifeLog.UI/obj/project.assets.json
/WildlifeLog.UI/obj/WildlifeLog.UI.csproj.nuget.dgspec.json
/WildlifeLog.UI/obj/Debug/net7.0/WildlifeLog.UI.genruntimeconfig.cache
/WildlifeLog.UI/obj/Debug/net7.0/WildlifeLog.UI.dll
/WildlifeLog.UI/obj/Debug/net7.0/WildlifeLog.UI.csproj.FileListAbsolute.txt
/WildlifeLog.UI/obj/Debug/net7.0/WildlifeLog.UI.csproj.CoreCompileInputs.cache
/WildlifeLog.UI/obj/Debug/net7.0/staticwebassets.pack.json
/.vs/WildlifeLog/DesignTimeBuild/.dtbcache.v2
/WildlifeLog.UI/obj/Debug/net7.0/WildlifeLog.UI.pdb
/WildlifeLogAPI/bin/Debug/net7.0/WildlifeLogAPI.dll
/WildlifeLogAPI/obj/Debug/net7.0/WildlifeLogAPI.genruntimeconfig.cache
/WildlifeLogAPI/obj/project.assets.json
/WildlifeLogAPI/obj/project.nuget.cache
/WildlifeLogAPI/obj/Debug/net7.0/WildlifeLogAPI.csproj.AssemblyReference.cache
/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
/.vs/WildlifeLog/v17/.futdcache.v2
/.vs/WildlifeLog/FileContentIndex/9b2b5546-54a5-4a46-ba3a-c8117d00a5ec.vsidx
/.vs/WildlifeLog/FileContentIndex/8a14649e-df81-4efa-ab06-d82ff44ccb44.vsidx
/WebApplication1/obj/Debug/net7.0/WebApplication1.assets.cache
/5900f8190d4a09a7bb5880b4cbad231d570b379b
/WebApplication1/obj/project.assets.json
/WebApplication1/obj/Debug/net7.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
/.vs/WildlifeLog/FileContentIndex/38d484a1-7651-455a-8213-b989851b4f62.vsidx
/.vs/WildlifeLog/FileContentIndex/4023dc60-a0f3-4563-ad94-8aae0daf21e2.vsidx
/WebApplication1/obj/project.nuget.cache
